<footer id="footer" class="footer">
	<div class="wrapper">
		<div class="footer-top">
			<div class="footer-each">
				<h5 class="footer-heading">Enschede HQ</h5>
				<p class="footer-sub">
					Roomweg 63, 7523 BL,<br/>
					Enschede, The Netherlands<br/>
					31 (0) 53 76 35 210<br/>
					hello@bert.house
				</p>
			</div>
			<div class="footer-each">
				<h5 class="footer-heading">Amsterdam</h5>
				<p class="footer-sub">
					Roomweg 63, 7523 BL,<br/>
					Amsterdam, The Netherlands<br/>
					31 (0) 53 76 35 210<br/>
					amsterdam@bert.house
				</p>
			</div>
			<div class="footer-each">
				<h5 class="footer-heading">London</h5>
				<p class="footer-sub">
					Roomweg 63, 7523 BL,<br/>
					London, United Kingdom<br/>
					31 (0) 53 76 35 210<br/>
					london@bert.house
				</p>
			</div>
			<div class="footer-each">
				<h5 class="footer-heading">Social</h5>
				<ul class="footer-socials">
					<a href="#"><li class="social-icon insta"><i class="fab fa-instagram"></i></li></a>
					<a href="#"><li class="social-icon facebook"><i class="fab fa-facebook-f"></i></li></a>
					<a href="#"><li class="social-icon linkedin"><i class="fab fa-linkedin-in"></i></li></a>
					<a href="#"><li class="social-icon twitter"><i class="fab fa-twitter"></i></li></a>
				</ul>
			</div>
		</div>

		<div class="footer-bottom">
			<p class="footer-copy">&copy; Angelica Lopez 2019</p>
		</div>
	</div>
</footer>