<section id="modal" class="modal">
	<div class="wrapper">
		<ul class="modal-list">
			<li class="modal-item"><a href="/">Home</a></li>
			<li class="modal-item"><a href="/about">About</a></li>
			<li class="modal-item"><a href="/contact">Contact</a></li>
		</ul>

		<div class="modal-copyright">
			<h3 class="copyright-title">Bert</h3>
			<p class="copyright-sub">&copy; Angelica Lopez 2019</p>
		</div>
	</div>
</section>