<% include partials/header %>
<% include partials/nav-dark %>
<% include partials/modal %>


	<header id="contact" class="contact-header">
		<div class="contact-container">
			<h1 class="contact-heading">Contact</h1>
			<div class="wrapper-small">
				<p class="contact-sub">Dolor sit amet consectetur adipisicing elit. Repellat nihil sed obcaecati? Voluptas ea asperiores sequi deleniti impedit amet ratione odio perferendis quis, quidem architecto aut, voluptate sint.</p>
				<a href="#contact-us" id="learn-more-btn" class="btn btn-dark">Learn More</a>
			</div>
		</div>
	</header>


	<section id="contact-us" class="contact-us">
		<div class="wrapper-small">
			<h2 class="contact-sub-heading">Contact Us</h2>
			<p class="contact-p">Sit amet consectetur adipisicing elit. Obcaecati porro quod qui ullam aliquid reprehenderit. Laudantium corrupti, ad enim aliquam soluta odio! Eum doloremque harum quas soluta hic sed ducimus odit fugit repellat consequatur magni labore delectus, dolorem ratione.</p>
			<a href="#" class="btn btn-accent">Contact</a>
		</div>
	</section>


	<section id="contact-form" class="contact-form">
		<div class="wrapper">
			<h4 class="form-heading">Sign Up For Our Newsletter</h3>
			<form id="form" class="form">
				<input type="text" placeholder="First Name">
				<input type="email" placeholder="E-mail address">
				<button class="btn btn-accent">Sign Up</button>
			</form>
		</div>
	</section>


	<% include partials/footer %>
	
	<script src="/scripts/vendors/noframework.waypoints.min.js"></script>
<% include partials/close %>