<% include partials/header %>
<% include partials/nav-home %>
<% include partials/modal %>


	<header id="home" class="error">
		<div class="home-container">
			<h1 class="home-heading">404</h1>
			<div class="wrapper-small">
				<p class="home-sub">Oops! Page not found.</p>
				<a href="/" class="btn btn-accent">Go Back</a>
			</div>
		</div>
	</header>


<% include partials/close %>