<% include partials/header %>
<% include partials/nav-home %>
<% include partials/modal %>


	<header id="home" class="home">
		<div class="home-container">
			<h1 class="home-heading">Bert</h1>
			<div class="wrapper-small">
				<p class="home-sub">Ipsum dolor, sit amet consectetur adipisicing elit. Eaque mollitia esse maiores nulla. Accusantium atque numquam natus nam repellat earum sunt incidunt adipisci enim!</p>
				<a href="#" class="btn btn-accent">Play Video</a>
			</div>
		</div>
	</header>


<% include partials/close %>