/*********************
/			Home
/*********************/
.home {
	background: url(https://images.unsplash.com/photo-1544090372-c1fe7f8dee5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat center center;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	width: 100vw;
}

.home::after {
	background-color: var(--darkest);
	content: "";
	height: 100vh;
	left: 0;
	opacity: 0.75;
	position: absolute;
	top: 0;
	width: 100vw;
}

.home-container {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
}

.home-heading {
	color: var(--accent);
	font-family: var(--title-font);
	font-size: 6rem;
	font-weight: 800;
	letter-spacing: -0.3rem;
	text-transform: uppercase;
}

.home-sub {
	color: white;
	font-family: var(--title-font);
	font-size: 0.75rem;
	font-weight: 300;
	line-height: 1.7;
	margin: 20px auto 50px;
	width: 80%;
}


/*********************
/			Media
/*********************/
@media (min-width: 400px) {
	.home-heading {
		font-size: 8rem;
	}

	.home-sub {
		font-size: 0.9rem;
		margin: 10px 0 50px;
		width: 95%
	}
}

@media (min-width: 570px) {
	.home-heading {
		font-size: 10rem;
	}

	.home-sub {
		font-size: 1rem;
		width: 100%;
	}
}